<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
  </head>
  <body>
    <div class="container" style="text-align: center">

      
      {% include 'nabar.html' %}
      
      <h1>This is our practice site</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
        corporis illo. Illum libero excepturi totam laudantium quaerat cumque
        ullam nisi alias vero, doloribus perferendis! Dicta odio non error omnis
        tenetur, quasi inventore mollitia laboriosam, illum libero id veritatis.
        Non expedita quasi vel inventore maiores voluptatem facilis illo, quam
        aliquid explicabo.
      </p>
      <button>Contact US</button>
    </div>
  </body>
</html>
